/* RESET RULES  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* UTILITIES  */

.album_name {
    color: white;
    font-weight: 600;
}

.song_name {
    color: #818181;
}

/* MAIN  */

.wrap_window {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main_content {
    display: flex;
    flex-grow: 1;
}

/* SIDEBAR  */

.sidebar {
    width: 230px;
    flex-shrink: 0;
}

/* HOMEPAGE  */

.homepage {
    flex-grow: 1;
}

/* PLAYER  */

.player {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #282828;
}

.music_playing {
    display: flex;
    gap: 15px;
    padding: 25px 0px;

}

.player_img {
    width: 38px;
    aspect-ratio: 1 / 1;
    display: block;
    flex-shrink: 0;
}

.icons {
    color: #818181;
    align-content: center;
    padding-left: 30px;
}



/* MEDIA QUERIES  */

/* QUERIES VIEWPORT MID  */


@media (max-width: 878px) {

}

/* QUERIES VIEWPORT SMALL  */

@media (max-width: 639px) {
    
}

/* QUERIES VIEWPORT EXTRASMALL  */

@media (max-width: 552px) {
    .sidebar {
        width: 50px;
    }
}

/* QUERIES VIEWPORT THIN  */

@media (max-height: 221px) {
    
}










/* DEBUG  */

.debug {
    border: 2px solid black;
}