/* RESET RULES  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}


/* MAIN  */

.wrap_window {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main_content {
    flex-grow: 1;
}




















/* DEBUG  */

.debug {
    border: 5px solid black;
}