/* RESET RULES  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}


/* MAIN  */

.wrap_window {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main_content {
    display: flex;
    flex-grow: 1;
}

/* SIDEBAR  */

.sidebar {
    width: 230px;
    flex-shrink: 0;
}

/* HOMEPAGE  */

.homepage {
    width: 100%;
}





/* MEDIA QUERIES  */

/* QUERIES VIEWPORT MID  */


@media (max-width: 878px) {

}

/* QUERIES VIEWPORT SMALL  */

@media (max-width: 639px) {
    
}

/* QUERIES VIEWPORT EXTRASMALL  */

@media (max-width: 552px) {
    .sidebar {
        width: 50px;
    }
}

/* QUERIES VIEWPORT THIN  */

@media (max-height: 221px) {
    
}










/* DEBUG  */

.debug {
    border: 5px solid black;
}